<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<div class="section">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h4>One-time charges</h4>
        <%= link_to 'Charge using one time charges', application_charges_path, class: 'btn btn-large' %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h4>Recurring charges</h4>
        <%= link_to 'Charge using recurring charges', recurring_application_charge_path, class: 'btn btn-large' %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h4>Usage charges</h4>
        <%= link_to 'Charge using usage charges', usage_charge_path, class: 'btn btn-large' %>
      </div>
    </div>
  </div>
</div>
